body,
html {
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
}

#paint-on {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}

.App {
  text-align: center;
  background-color: rgba(220, 220, 220, 0.2);
  display: relative;
  height: 100%;
  min-height: 100%;
  padding-bottom: 50px;
}

.App-header {
  background-color: rgba(255, 255, 255, 0.1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #353535;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.ignore-mouse {
  pointer-events: none;
}

.clickable,
button {
  cursor: pointer;
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.clickable.mouse_hovering,
.clickable:hover {
  transform: scale(1.2);
}

button.mouse_hovering,
button:hover {
  scale: 1.2;
}

@keyframes hoverAnimation {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.3;
  }
}

.clickable.mouse_click,
.clickable:active,
button:active {
  animation: clickAnimation 0.15s;
}

@keyframes clickAnimation {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.8);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.socials > a > img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
